/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); */

.wrapper {
   overflow: hidden;
}


* {
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif !important;
}

a {
   text-decoration: none;
   color: inherit;
}

.button {
   width: 150px;
   height: 50px;
   border: 1.5px solid #FFFFFF;
   border-radius: 50px;
   color: #FFFFFF;
   cursor: pointer;
   position: relative;
   z-index: 1;
   font-weight: 500;
}

.button-blue {
   background: #1F3E76;
   transition: 400ms;
}

.button-blue:hover {
   background: #2b80e1;
}

.header__button {
   background: transparent;
   outline: none;
   transition: 400ms;
}

.header__button:hover {
   color: #89abd3;
}


.preview__button {
   color: #0F2137;
}

.preview__button:hover {
   color: #3a79c7;
}

.jackpots__button {
   background: #1F3E76;
   transition: 400ms;
}

.jackpots__button:hover {
   background: #2b80e1;
}

.subtitle {
   font-weight: 700;
   font-size: 14px;
   line-height: 40px;
   text-align: center;
   letter-spacing: 2.1px;
   text-transform: uppercase;
   color: #244886;
}

/* ================================== HEADER ========================================= */
.wrapper {}

.preview {
   position: relative;
   background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
   border-bottom-right-radius: 300px;
   padding: 31px 0 212px;
   color: #fff;
}

.container {
   max-width: 1251px;
   margin: 0 auto;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 110px;
}

.header__nav {}

.header__logo {
   display: flex;
   align-items: center;
   gap: 11px;
}

.header__img {}

.header__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.header__list {
   display: flex;
   width: 502px;
   max-width: 100%;
   gap: 35px;
}

.header__item {
   display: flex;
   gap: 3px;
   align-items: center;
}

.header__item-small {
   transform: rotate(180deg);
}

/* 
==============================  DECOR ====================================== */
.hero__decor {}

.decor-preview {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.decor-preview__item {
   position: absolute;
}

.decor-preview--1 {
   background: url(../img/preview/decor/decor1.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   top: -5.5%;
   left: -4.5%;
}

.decor-preview--2 {
   background: url(../img/preview/decor/decor2.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   bottom: 0;
   left: -4.5%;
}

.decor-preview--3 {
   background: url(../img/preview/decor/decor3.svg) 0 0 no-repeat;
   width: 550px;
   height: 905px;
   top: 0%;
   left: 23.1%;
}

.decor-preview--4 {
   background: url(../img/preview/decor/decor4.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   top: 23%;
   right: 33%;
}

.decor-preview--5 {
   background: url(../img/preview/decor/decor5.svg) 0 0 no-repeat;
   width: 550px;
   height: 778px;
   bottom: 0;
   right: 20%;
}

.decor-preview--6 {
   background: url(../img/preview/decor/decor6.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   top: -30%;
   right: -7.5%;
}

.decor-preview--7 {
   background: url(../img/preview/decor/decor7.svg) 0 0 no-repeat;
   width: 302px;
   height: 346px;
   top: 9%;
   right: 14%;
}

/* ========================================= SECTION HERO =================================================== */
.preview__hero {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.preview__right img {
   z-index: 1;
   position: relative;
}

.preview__title {
   font-weight: 700;
   font-size: 85px;
   line-height: 100px;
   letter-spacing: -2px;
   width: 642px;
   max-width: 100%;
   margin-bottom: 29px;
}

.preview__text {
   font-weight: 500;
   font-size: 18px;
   line-height: 42px;
   margin-bottom: 38px;
   width: 507px;
   max-width: 100%;
}

.preview__buttons {
   display: flex;
   align-items: center;
   margin-bottom: 37px;
}

.preview__button {
   margin-right: 20px;
}

.play__contnet {
   display: flex;
   gap: 10px;
}

.preview__play {
   font-weight: 500;
   line-height: 2;
   text-align: center;
   letter-spacing: -0.16px;
}



.social {
   display: flex;
   gap: 21px;
   align-items: center;
}

.social__text {
   line-height: 42px;
   opacity: 0.6;
}

.social__content {
   display: flex;
   gap: 21px;
   align-items: center;
}

.social__item {}

.social__img {}


/* ====================================== SECTION FEATURE  =============================================== */

.function {
   position: relative;
}

.feature-container {
   max-width: 990px;
   margin: 65px auto 199px;
}


.feature__titles {
   text-align: center;
   margin: 0 auto 78px;

}

.feature__subtitle {
   margin-bottom: 10px;
}

.feature__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   letter-spacing: -1.5px;
   color: #0F2137;
}

.feature__content {
   display: flex;
   gap: 100px;
}

.feature__items {
   text-align: center;
   margin: 0 auto;
}

.feature__icon {
   margin-bottom: 21px;
}

.feature__img {}

.feature__items-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   color: #0F2137;
   margin-bottom: 20px;
}

.feature__items-text {
   font-size: 15px;
   line-height: 28px;
   color: #343D48;
   width: 265px;
   max-width: 100%;
}


.decor-function {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.decor-function__item {
   position: absolute;
}

.decor-function__item--1 {
   background: url(../img/function/decor1.svg) 0 0 no-repeat;
   height: 778px;
   width: 550px;
   bottom: -28.8%;
   left: -12%;
}

.decor-function__item--2 {
   background: url(../img/function/decor2.svg) 0 0 no-repeat;
   height: 526px;
   width: 526px;
   top: -45%;
   left: 16.9%;
}

.decor-function__item--3 {
   background: url(../img/function/decor3.svg) 0 0 no-repeat;
   height: 526px;
   width: 526px;
   bottom: -48%;
   right: 8.6%;
}

.decor-function__item--4 {
   background: url(../img/function/decor4.svg) 0 0 no-repeat;
   height: 526px;
   width: 526px;
   top: 7.5%;
   right: -19.1%;
}

/* ============================================== SECTION SMART  ============================================== */
.smart {
   margin: 0 auto 166px;
   display: flex;
   justify-content: center;
   gap: 98px;
}

.container {}

.smart__left {}

.smart__img {}

.smart__right {
   align-self: center;
}

.smart__subtitle {
   margin-bottom: 28px;
}

.smart__title {
   font-weight: 700;
   font-size: 48px;
   line-height: 55px;
   letter-spacing: -1.5px;
   color: #0F2137;
   width: 510px;
   max-width: 100%;
   margin-bottom: 54px;
}

.smart__content {}

.content:not(:last-of-type) {
   margin-bottom: 39px;
}

.content {
   display: flex;
   gap: 18px;
}

.contnet__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 23px;
   color: #0F2137;
   margin-bottom: 19px;
}

.contnet__text {
   font-size: 15px;
   line-height: 26px;
   color: #343D48;
   max-width: 355px;
   width: 100%;
}

/* =================================================== SECTION APP  =========================================== */
.app {
   margin: 0 auto 218px;
}

.container {}

.app__subtitle {
   margin-bottom: 10px;
}

.app__title {
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   letter-spacing: -1.5px;
   color: #0F2137;
   margin: 0 auto 78px;
}

.app__content {
   display: flex;
   gap: 66px;
   justify-content: center;
   flex-wrap: wrap;
}

.contnet__text-app {
   max-width: 263px;
   width: 100%;
}

.content-app {
   gap: 25px;
}


.content__item-app {
   position: relative;
   top: 8px;
}

/* ============================================  SECTION JACKPOTS  ============================================== */
.jackpots {
   margin: 0 auto 234px;
   display: flex;
   align-items: center;
}

.container {}

.jackpots__left {}

.jackpots__subtitle {
   text-align: left;
   margin-bottom: 8px;
}

.jackpots__title {
   font-weight: 700;
   font-size: 48px;
   line-height: 55px;
   letter-spacing: -1.5px;
   color: #0F2137;
   margin-bottom: 40px;
}

.jackpots__text {
   font-size: 18px;
   line-height: 42px;
   color: #02073E;
   max-width: 454px;
   width: 100%;
   margin-bottom: 30px;
}



/* ============================================   SECTION FUNCTION  ================================================== */
.function {
   background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
   padding: 90px 0 156px;
   color: #fff;
}

.container {}

.function__subtitle {
   color: #FFFFFF;
   opacity: 0.7;
   margin-bottom: 2px;
}

.subtitle {}

.function__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   text-align: center;
   letter-spacing: -1.5px;
   margin-bottom: 148px;
}

.function__block {
   display: flex;
   gap: 60px;
}

.function__content {
   max-width: 263px;
   width: 100%;
}

.function__icon {
   margin-bottom: 25px;
   height: 72px;
   width: 72px;
   border-radius: 45%;
   background: #fff;
   position: relative;
}

.function__icon-number {
   font-size: 30px;
   line-height: 38px;
   color: #22437D;
   position: absolute;
   top: 17px;
   left: 17px;

}

.function__content-title {
   font-weight: 700;
   font-size: 22px;
   line-height: 155%;
   margin-bottom: 15px;
}

.function__content-text {
   font-size: 15px;
   line-height: 26px;
   opacity: 0.65;
}


/* ================================================= SECTION MEET  ==================================================== */
.meet {
   margin: 106px auto 140px;
}

.meet__subtitle {}

.subtitle {}

.meet__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   text-align: center;
   letter-spacing: -1.5px;
   color: #0F2137;
   margin-bottom: 72px;
}

.meet__block {
   display: flex;
   gap: 52px;
   margin-bottom: 48px;
   justify-content: center;
}

.meet__content {}

.meet__stars {
   display: flex;
   margin-bottom: 6px;
}

.meet__icon {
   color: #F6C416;
}

.meet__icon:nth-child(5) {
   color: #E4E4E4;
}

.meet__content-title {
   font-weight: 700;
   line-height: 33px;
   color: #343D48;
   margin-bottom: 20px;
}

.meet__content-text {
   font-size: 18px;
   line-height: 38px;
   color: #343D48;
   max-width: 368px;
   width: 100%;
   margin-bottom: 36px;
}

.meet__profile {
   display: flex;
   gap: 19px;
}

.meet__img {}

.meet__profile-block {}

.meet__profile-name {
   font-weight: 700;
   line-height: 20px;
   letter-spacing: -0.4px;
   color: #0F2137;

}

.meet__profile-nickname {
   font-weight: 500;
   font-size: 15px;
   line-height: 40px;
   letter-spacing: -0.375px;
   color: #25A0FF;
}

.meet__arrow {
   display: flex;
   justify-content: center;
   gap: 14px;
}

.meet__arrow-left {}

.meet__arrow-left-img {}

.meet__arrow-right {}

.meet__arrow-right-img {}


/* ========================================== SECTION PAYMENT  ====================================================== */
.payment {}

.payment .container {
   background: linear-gradient(287.67deg, rgba(255, 253, 230, 0.35) -3.53%, rgba(255, 253, 230, 0.07) -3.52%, rgba(224, 239, 250, 0.35) 92.55%);
   border-radius: 250px 0px 0px 0px;
   padding: 130px 0 0;
   display: flex;
   gap: 62px;
}

.payment__left {}

.payment__img {}

.payment__right {
   align-self: center;
}

.payment__subtitle {
   margin-bottom: 8px;
   text-align: left;
}

.payment__title {
   font-weight: 700;
   font-size: 48px;
   line-height: 55px;
   letter-spacing: -1.5px;
   color: #0F2137;
   margin-bottom: 40px;
}

.payment__text {
   font-size: 18px;
   line-height: 42px;
   color: #02073E;
   max-width: 454px;
   width: 100%;
   margin-bottom: 30px;
}

.payment__button {}

.button {}

.button-blue {}

/* =====================================  SECTION PLAN  ========================================= */
.plan {
   background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
   color: #fff;
   padding: 60px 0 98px;
   position: relative;
}


.plan__subtitle {
   color: #FFFFFF;
   opacity: 0.7;
   margin-bottom: 2px;
}


.plan__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   text-align: center;
   letter-spacing: -1.5px;
   margin-bottom: 80px;
}

.plan__block {
   display: flex;
   gap: 30px;
   justify-content: center;
}

.free-plan__content {
   background: #2F5392;
   padding: 70px 115px 50px 40px;
   max-width: 480px;
   width: 100%;
}

.free-plan__content-title {
   font-weight: 700;
   font-size: 22px;
   line-height: 29px;
   letter-spacing: -0.55px;
   margin-bottom: 7px;
}

.free-plan__content-subtitle {
   font-size: 16px;
   line-height: 28px;
   opacity: 0.7;
   margin-bottom: 57px;
}

.free-plan__content {
   position: relative;
   z-index: 1;
}


.check {
   max-width: 325px;
   width: 100%;
}

.check__list {
   margin-bottom: 70px;
}

.check__item {
   font-size: 16px;
   line-height: 26px;
   padding-left: 32px;
   background: url('../img/function/check_green.svg') 0 7px no-repeat;
}



.check__item:not(:last-of-type) {
   margin-bottom: 30px;
}

.check__item--opacity:not(:last-of-type) {
   margin-bottom: 30px;
}

.check__item--opacity {
   line-height: 26px;
   opacity: 0.55;
   padding-left: 32px;
   background: url('../img/function/check_opacity.svg') 0 7px no-repeat;
}

.plan__button {
   color: #2F5392;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.16px;
   transition: 500ms
}

.plan__button:hover {
   color: #407fec;
}

.plan__button--center,
.premium__button--center {
   text-align: center;
   margin: 0 auto;
}

.plan__premium {
   background: #fff;
   color: #0F2137;
   padding: 21px 70px 50px 40px;
   max-width: 480px;
   width: 100%;
}

.premium {}

.premium__recommended {
   background: #EF9E48;
   border-radius: 3px;
   width: 118px;
   height: 31px;
   margin-bottom: 18px;
}

.premium__recommended-text {
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   letter-spacing: -0.14px;
   color: #fff;
   text-align: center;
}

.premium__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 57px;
}


.premium__content-title {
   font-weight: 700;
   font-size: 22px;
   line-height: 29px;
   letter-spacing: -0.55px;
}

.premium__content-text {
   font-size: 16px;
   line-height: 28px;
   color: #343D48;
}


.premium__content-price {
   font-weight: 700;
   font-size: 26px;
   line-height: 34px;
   display: flex;
   align-items: flex-end;
   text-align: right;
   letter-spacing: -0.55px;
   color: #25CB9E;
   margin-left: -15px;
}

.plan-decor {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.plan-decor__item {
   position: absolute;
}

.plan-decor__item--1 {
   background: url(../img/plan/decor1.svg) 0 0 no-repeat;
   width: 550px;
   height: 778px;
   bottom: -10%;
   left: -11.5%;

}

.plan-decor__item--2 {
   background: url(../img/plan/decor2.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   top: -11.4%;
   left: 17.4%;
}

.plan-decor__item--3 {
   background: url(../img/plan/decor3.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   bottom: -25%;
   right: 8.6%;
}

.plan-decor__item--4 {
   background: url(../img/plan/decor4.svg) 0 0 no-repeat;
   width: 526px;
   height: 526px;
   top: 27.1%;
   right: -19.1%;
}

/* ====================================== SECTION QUESTION ====================================== */
.question {
   margin: 127px auto 139px;
   color: #0F2137;
}

.container {}

.question__subtitle {}

.subtitle {}

.question__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 55px;
   text-align: center;
   letter-spacing: -1.5px;
   margin-bottom: 92px;
}

.question__content {
   margin: 0 auto;
   max-width: 760px;
   width: 100%;
}

.question__list {}

.question__item {
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
   letter-spacing: -0.5px;
   margin-bottom: 9px;
}

.question__line {
   width: 100%;
   height: 3px;
   background: #E5ECF4;
   margin-bottom: 18px;
}

.question__info {
   line-height: 32px;
   color: #343D48;
   display: none;
}


/* =================================== SECTION ABOUT ============================================ */
.about {}

.about.container {
   max-width: 900px;
   margin: 0 auto 124px;
}

.about__line {
   width: 100%;
   height: 3px;
   background: #E5ECF4;
   margin-bottom: 58px;
}

.about__block {
   display: flex;
   gap: 100px;
}

.container {}

.about__content {}

.about__title {
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
   letter-spacing: -0.5px;
   color: #0F2137;
   margin-bottom: 28px;
}

.about__list {}

.about__item {}

.about__link {
   font-size: 14px;
   line-height: 250%;
   color: #02073E;
   opacity: 0.8;
}

.about__link:hover {
   color: #413bf1;
   opacity: 1;
   transition: 1s ease;

}